# Godot 4+ specific ignores
.godot/
/android/
/ViewSourceGenerators/ViewSourceGenerators/obj
*.uid
/ViewSourceGenerators/ViewSourceGenerators/bin
readme.md
/.idea
/.idea
/.idea/.idea.MVVM
/.idea/.idea.MVVM/.idea
.idea/.idea.MVVM/.idea/workspace.xml
